@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

.message-candidate {
    padding: 40px;
    max-width: 600px;
}

.message-hiring-manager {
    background: rgba(0, 167, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

.g-recaptcha {
    margin: 5px auto !important;
    width: auto !important;
    height: auto !important;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -ms-center;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.services-area {
    background-color: #f6f6f6;
}

.section-title {
    margin-bottom: 60px;
}

.section-title p {
    color: #777;
    font-size: 16px;
}

.section-title h4 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #825ee4;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.section-title h4:after {
    position: absolute;
    background-color: #825ee4;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

.single-service {
    border: 1px solid #eee;
    padding: 30px 10px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.single-service i.fa {
    width: 60px;
    height: 60px;
    background-color: #825ee4;
    font-size: 25px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.single-service i.fa {
    -webkit-transition: .4s;
    transition: .4s;
}

.single-service:hover i.fa {
    border-radius: 50%;
}

.single-service h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}

.pagination {
    margin-top: 20px;
    justify-content: center !important;
}

.img-scale-up>a>img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.img-scale-up>a>img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.block-with-text {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-article {
    -webkit-line-clamp: 3;
}

.description-article {
    -webkit-line-clamp: 3;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.375rem;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #5e72e4;
    transition: width 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

.progress-wrapper {
    position: relative;
    padding-top: 1.5rem;
}

.progress {
    height: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: #e9ecef;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .sr-only {
    width: auto;
    height: 20px;
    margin: 0 0 0 30px;
    left: 0;
    clip: auto;
    line-height: 20px;
    font-size: 13px;
}

.progress-heading {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 2px;
    padding: 0;
}

.progress-bar {
    box-shadow: none;
    border-radius: 0;
    height: auto;
}

.progress-info {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-label span {
    display: inline-block;
    color: #5e72e4;
    font-size: .625rem;
    font-weight: 600;
    text-transform: uppercase;
    background: rgba(94, 114, 228, 0.1);
    padding: .25rem 1rem;
    border-radius: 30px;
}

.progress-percentage {
    text-align: right;
}

.progress-percentage span {
    display: inline-block;
    color: #8898aa;
    font-size: .875rem;
    font-weight: 600;
}

.table td .progress {
    height: 3px;
    width: 120px;
    margin: 0;
}

.ct-example>.nav+.nav,
.ct-example>.alert+.alert,
.ct-example>.navbar+.navbar,
.ct-example>.progress+.progress,
.ct-example>.progress+.btn,
.ct-example .badge,
.ct-example .btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 51px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

#header .logo h2 {
    font-size: 16px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}

#header .logo h2 a,
#header .logo h2 a:hover {
    color: #ffffff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}


/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #acacac;
    padding: 15px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #2643e9;
    background: #fff;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
    border-bottom: dashed 1px rgb(200, 200, 200);
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #2c4964;
    font-weight: bolder;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    background: #2643e9;
    color: #fff;
}

.nav-menu .drop-down>a:after {
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    content: "\f107";
    display: inline-block;
    padding-right: 3px;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\f104";
    }
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 12px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #2643e9;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\f106";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #fff;
    padding: 24px 0;
    font-size: 14px;
    box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 8px;
    text-align: center;
    font-size: 13px;
}


/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}


/* line 615, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #ff1313;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}


/* line 637, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */

.preloader .preloader-circle2 {
    border-top-color: #0078ff;
}


/* line 640, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}


/* line 658, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */

.preloader .preloader-img img {
    max-width: 55px;
}


/* line 661, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}


/*--------------------------------------------------------------
# Social button
--------------------------------------------------------------*/

.btn-facebook {
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
}

.btn-facebook:focus,
.btn-facebook.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(59, 89, 153, 0.5);
}

.btn-facebook.disabled,
.btn-facebook:disabled {
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
}

.btn-facebook:not(:disabled):not(.disabled):active,
.btn-facebook:not(:disabled):not(.disabled).active,
.show>.btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4474;
    border-color: #3b5999;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus,
.btn-facebook:not(:disabled):not(.disabled).active:focus,
.show>.btn-facebook.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(59, 89, 153, 0.5);
}

.btn-twitter {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-twitter:hover {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-twitter:focus,
.btn-twitter.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(29, 161, 242, 0.5);
}

.btn-twitter.disabled,
.btn-twitter:disabled {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-twitter:not(:disabled):not(.disabled):active,
.btn-twitter:not(:disabled):not(.disabled).active,
.show>.btn-twitter.dropdown-toggle {
    color: #fff;
    background-color: #0c85d0;
    border-color: #1da1f2;
}

.btn-twitter:not(:disabled):not(.disabled):active:focus,
.btn-twitter:not(:disabled):not(.disabled).active:focus,
.show>.btn-twitter.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(29, 161, 242, 0.5);
}

.wraper {
    background-color: black;
    opacity: 0.4;
    width: 70%;
    height: 450px;
    position: absolute;
    left: 15%;
    top: 0;
    z-index: 10;
}

.slider {
    height: 400px;
    object-fit: cover;
    width: 70%;
    position: relative;
    left: 15%;
}

@media(max-width:700px) {
    .slider {
        height: 250px;
    }
    .wraper {
        height: 250px;
    }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    /* background-color: black; */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-item {
    background-color: black;
    transition: 0.7s;
}

.carousel-item:hover {
    opacity: 0.9;
}

.custom-toggle {
    position: relative;
    display: inherit;
    display: inline-block;
    width: 52px;
    height: 1.5rem;
    margin: 0
}

.custom-toggle input {
    display: none
}

.custom-toggle input:checked+.custom-toggle-slider {
    border: 1px solid #5e72e4
}

.custom-toggle input:checked+.custom-toggle-slider:before {
    transform: translateX(28px);
    background: #5e72e4
}

.custom-toggle input:disabled+.custom-toggle-slider {
    border: 1px solid #e9ecef
}

.custom-toggle input:disabled:checked+.custom-toggle-slider {
    border: 1px solid #e9ecef
}

.custom-toggle input:disabled:checked+.custom-toggle-slider:before {
    background-color: #8a98eb
}

.custom-toggle-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 34px !important;
    background-color: transparent
}

.custom-toggle-slider:before {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    content: '';
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    border-radius: 50% !important;
    background-color: #e9ecef
}

.custom-toggle-wrapper .custom-toggle+.custom-toggle {
    margin-left: 1rem !important
}

.custom-toggle input:checked+.custom-toggle-slider:after {
    right: auto;
    left: 0;
    content: attr(data-label-on);
    color: #5e72e4
}

.custom-toggle-slider:after {
    font-family: inherit;
    font-size: .75rem;
    font-weight: 600;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    overflow: hidden;
    min-width: 1.66667rem;
    margin: 0 .21667rem;
    content: attr(data-label-off);
    transition: all .15s ease;
    text-align: center;
    color: #ced4da
}

@media (prefers-reduced-motion:reduce) {
    .custom-toggle-slider:after {
        transition: none
    }
}

.custom-toggle-primary input:checked+.custom-toggle-slider {
    border-color: #5e72e4
}

.custom-toggle-primary input:checked+.custom-toggle-slider:before {
    background: #5e72e4
}

.custom-toggle-primary input:checked+.custom-toggle-slider:after {
    color: #5e72e4
}

.custom-toggle-primary input:disabled:checked+.custom-toggle-slider {
    border-color: #5e72e4
}

.custom-toggle-primary input:disabled:checked+.custom-toggle-slider:before {
    background-color: #8a98eb
}

.custom-toggle-secondary input:checked+.custom-toggle-slider {
    border-color: #f7fafc
}

.custom-toggle-secondary input:checked+.custom-toggle-slider:before {
    background: #f7fafc
}

.custom-toggle-secondary input:checked+.custom-toggle-slider:after {
    color: #f7fafc
}

.custom-toggle-secondary input:disabled:checked+.custom-toggle-slider {
    border-color: #f7fafc
}

.custom-toggle-secondary input:disabled:checked+.custom-toggle-slider:before {
    background-color: #fff
}

.custom-toggle-success input:checked+.custom-toggle-slider {
    border-color: #2dce89
}

.custom-toggle-success input:checked+.custom-toggle-slider:before {
    background: #2dce89
}

.custom-toggle-success input:checked+.custom-toggle-slider:after {
    color: #2dce89
}

.custom-toggle-success input:disabled:checked+.custom-toggle-slider {
    border-color: #2dce89
}

.custom-toggle-success input:disabled:checked+.custom-toggle-slider:before {
    background-color: #54daa1
}

.custom-toggle-info input:checked+.custom-toggle-slider {
    border-color: #11cdef
}

.custom-toggle-info input:checked+.custom-toggle-slider:before {
    background: #11cdef
}

.custom-toggle-info input:checked+.custom-toggle-slider:after {
    color: #11cdef
}

.custom-toggle-info input:disabled:checked+.custom-toggle-slider {
    border-color: #11cdef
}

.custom-toggle-info input:disabled:checked+.custom-toggle-slider:before {
    background-color: #41d7f2
}

.custom-toggle-warning input:checked+.custom-toggle-slider {
    border-color: #fb6340
}

.custom-toggle-warning input:checked+.custom-toggle-slider:before {
    background: #fb6340
}

.custom-toggle-warning input:checked+.custom-toggle-slider:after {
    color: #fb6340
}

.custom-toggle-warning input:disabled:checked+.custom-toggle-slider {
    border-color: #fb6340
}

.custom-toggle-warning input:disabled:checked+.custom-toggle-slider:before {
    background-color: #fc8c72
}

.custom-toggle-danger input:checked+.custom-toggle-slider {
    border-color: #f5365c
}

.custom-toggle-danger input:checked+.custom-toggle-slider:before {
    background: #f5365c
}

.custom-toggle-danger input:checked+.custom-toggle-slider:after {
    color: #f5365c
}

.custom-toggle-danger input:disabled:checked+.custom-toggle-slider {
    border-color: #f5365c
}

.custom-toggle-danger input:disabled:checked+.custom-toggle-slider:before {
    background-color: #f76783
}

.custom-toggle-light input:checked+.custom-toggle-slider {
    border-color: #adb5bd
}

.custom-toggle-light input:checked+.custom-toggle-slider:before {
    background: #adb5bd
}

.custom-toggle-light input:checked+.custom-toggle-slider:after {
    color: #adb5bd
}

.custom-toggle-light input:disabled:checked+.custom-toggle-slider {
    border-color: #adb5bd
}

.custom-toggle-light input:disabled:checked+.custom-toggle-slider:before {
    background-color: #c9cfd4
}

.custom-toggle-dark input:checked+.custom-toggle-slider {
    border-color: #212529
}

.custom-toggle-dark input:checked+.custom-toggle-slider:before {
    background: #212529
}

.custom-toggle-dark input:checked+.custom-toggle-slider:after {
    color: #212529
}

.custom-toggle-dark input:disabled:checked+.custom-toggle-slider {
    border-color: #212529
}

.custom-toggle-dark input:disabled:checked+.custom-toggle-slider:before {
    background-color: #383f45
}

.custom-toggle-default input:checked+.custom-toggle-slider {
    border-color: #172b4d
}

.custom-toggle-default input:checked+.custom-toggle-slider:before {
    background: #172b4d
}

.custom-toggle-default input:checked+.custom-toggle-slider:after {
    color: #172b4d
}

.custom-toggle-default input:disabled:checked+.custom-toggle-slider {
    border-color: #172b4d
}

.custom-toggle-default input:disabled:checked+.custom-toggle-slider:before {
    background-color: #234174
}

.custom-toggle-white input:checked+.custom-toggle-slider {
    border-color: #fff
}

.custom-toggle-white input:checked+.custom-toggle-slider:before {
    background: #fff
}

.custom-toggle-white input:checked+.custom-toggle-slider:after {
    color: #fff
}

.custom-toggle-white input:disabled:checked+.custom-toggle-slider {
    border-color: #fff
}

.custom-toggle-white input:disabled:checked+.custom-toggle-slider:before {
    background-color: #fff
}

.custom-toggle-neutral input:checked+.custom-toggle-slider {
    border-color: #fff
}

.custom-toggle-neutral input:checked+.custom-toggle-slider:before {
    background: #fff
}

.custom-toggle-neutral input:checked+.custom-toggle-slider:after {
    color: #fff
}

.custom-toggle-neutral input:disabled:checked+.custom-toggle-slider {
    border-color: #fff
}

.custom-toggle-neutral input:disabled:checked+.custom-toggle-slider:before {
    background-color: #fff
}

.custom-toggle-darker input:checked+.custom-toggle-slider {
    border-color: #000
}

.custom-toggle-darker input:checked+.custom-toggle-slider:before {
    background: #000
}

.custom-toggle-darker input:checked+.custom-toggle-slider:after {
    color: #000
}

.custom-toggle-darker input:disabled:checked+.custom-toggle-slider {
    border-color: #000
}

.custom-toggle-darker input:disabled:checked+.custom-toggle-slider:before {
    background-color: #1a1a1a
}